[submodule "themes/particle-zola"]
	path = themes/particle-zola
	url = https://github.com/svavs/particle-zola.git
[submodule "themes/adidoks"]
	path = themes/adidoks
	url = https://github.com/aaranxu/adidoks
[submodule "themes/juice"]
	path = themes/juice
	url = https://github.com/huhu/juice
